{% extends 'events/base.html' %}
{% block content %}

<script>

</script>

<h4>All Venue List</h4>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Venue nr</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Calendar</th>
    </tr>
    </thead>
    <tbody>
    {% for venue in venues %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ venue.name }}</td>
        <td>{{ venue.address }} {{ venue.id }}</td>
        <td>
            <a href="{% url 'create-ice-reservation-for-user' venue_id=venue.id %}">
                <button class="btn btn-primary" type="button">Add ice reservation</button>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
