{% extends 'events/base.html' %}
{% block content %}


<h4>Venue control Panel</h4>
<br/><br/><br/>

Your venue is: {{ venue }} <br>

<a href="{% url 'venue-calendar-reservation-view' %}"><button type="button" class="btn btn-primary ">Curling Arena Schedule</button></a>

<a href="{% url 'venue-tracks-view' %}"><button type="button" class="btn btn-primary ">Curling Arena Track</button></a>

<a href="{% url 'create-ice-reservation-for-user' venue_id=venue.id %}"><button type="button" class="btn btn-primary ">Curling Arena Celandar</button></a>

{% endblock %}
