{% extends 'events/base.html' %}
{% block content %}
{% load static %}

 <h4>Profile Panel</h4>
<br/><br/><br/>

Dla Usera
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Full Name: {{ user.get_full_name }}</li>
</ul>
<a href="{% url 'update-user' %}">
    <button class="btn btn-primary" type="button">Update User</button>
</a>

<ul>
Dla Profilu
    <li>Club: <a href="{% url 'club-info-panel' club_id=user.profile.club_id.id %}"> {{ user.profile.club_id|default:"Brak" }} </a></li>
</ul>
<a href="{% url 'update-profile' %}">
    <button class="btn btn-primary" type="button">Update Profile</button>
</a>
<div class="card" style="width: 18rem;">
  <img src="{{ user.photo_profile.url }}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endblock %}
