{% extends 'events/base.html' %}
{% block content %}
{% load static %}

 <h4>Profile Panel</h4>
<br/><br/><br/>

Dla Usera
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Full Name: {{ user.get_full_name }}</li>
</ul>
<a href="{% url 'update-user' %}">
    <button class="btn btn-primary" type="button">Update User</button>
</a>

<ul>
Dla Profilu
    <li>Club: <a href="{% url 'club-info-panel' club=user.profile.club.id %}"> {{ user.profile.club|default:"Brak" }} </a></li>
</ul>
<a href="{% url 'update-profile' %}">
    <button class="btn btn-primary" type="button">Update Profile</button>
</a>

<br>
Dodaj Reserwację lodowiska

<a href="{% url 'all-venues-list' %}">
    <button class="btn btn-primary" type="button">List of all Venues</button>
</a>

<a href="{% url 'create-ice-reservation-for-user' %}">
    <button class="btn btn-primary" type="button">Add ice reservation</button>
</a>


{% endblock %}
