{% extends 'events/base.html' %}
{% block content %}
{% load bootstrap_icons %}
{% load static %}

<script>
    function changeReservationStatus(reservationId, newStatus) {
        $.ajax({
         type: "patch",
         url: '/api/update_reservation_status/',
         data: {'reservationId': reservationId, 'newStatus': newStatus},
         dataType: "json",
         success: function (data) {
            location.reload();
         },
         error: function (data) {
             alert('There is a problem!!!');
         }
        });

    }
</script>

<h4>Profile Reservations</h4>
<br/><br/><br/>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Reserved for</th>
        <th scope="col">Venue</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
    <tr>
        <td>
            {% for attendee in reservation.attendees.all %}
                ({{ forloop.counter }}) {{ attendee }}
            {% endfor %}
        </td>
        <td>{{ reservation.venue }}</td>
        <td>{{ reservation.reservation_date }}</td>
        <td>{{ reservation.get_status_display }}</td>
        <td>
            <button type="submit" class="btn btn-outline-danger" onclick="changeReservationStatus( {{reservation.pk}}, 'cancel'); showLoader();" value="cacle_reservation" data-toggle="tooltip" data-placement="top" title="FILL DESCRIPTION">
                {% bs_icon 'dash-circle' %}
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
