{% extends 'events/base.html' %}
{% load bootstrap_icons %}
{% block content %}


<h4> {{ user.profile.club }} Members Panel</h4>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Possible actions</th>
    </tr>
    </thead>
    <tbody>
    {% for member in members_list %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ member.user.first_name }}</td>
        <td>{{ member.user.last_name }}</td>
        <td>{{ member.user.email_address|default:'--' }}</td>
        <td>{{ member.user.profile.phone_number|default:'--' }}</td>
        <td>
            {% if member.user.profile.club_profile_status == "User_sent_join_request" %}
                <span>
                    <form style="display:inline-block;" method="POST" action="{% url 'club-members-panel' %}?id={{  member.user.id }}">
                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Confirm user request to join at Club">{% bs_icon 'person-check-fill' %}</button>
                    </form>
                </span>
                <span>
                    <form style="display:inline-block;" method="POST" action="{% url 'club-members-panel' %}?id={{ member.user.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-outline-danger" value="delete" data-toggle="tooltip" data-placement="top" title="Reject user request to join to Club">
                            {% bs_icon 'person-fill-slash' %}
                        </button>
                    </form>
                </span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
